body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #DCE1DE;
}

.login-pertama {
    text-align: center;
}

.header {
    text-align: center;
    background-color: #ffffff;
    padding: 50px;
}

.header p {
 color: black;
 font-size: 20px;
 font-family: Poppins;
 font-weight: 600;
 word-wrap: break-word
}

.login-form label {
    text-align: right;
color: black;
font-size: 16px;
font-family: Poppins;
font-weight: 400;
word-wrap: break-word
}

.login-form input {
color: rgba(0, 0, 0, 0.25);
font-size: 20px;
font-family: Roboto;
font-weight: 500;
line-height: 28px;
word-wrap: break-word
}

.login-form a {
color: #1F9BF5;
font-size: 14px;
font-family: Poppins;
font-weight: 400;
margin-bottom: 20px; 
display: block;
word-wrap: break-word

}

.login-form .signin {
font-size: 20px;
font-family: Roboto;
font-weight: 500;
line-height: 32px;
padding-left: 85px;
padding-right: 85px;
border-style: none;
border-radius: 5px;
color: #ffffff;
background-color: #49A078;
word-wrap: break-word
}

.login-form .signin-google {
color: rgba(0, 0, 0, 0.85);
font-size: 20px;
font-family: Roboto;
font-weight: 500;
line-height: 28px;
word-wrap: break-word
}

.login-form span {
color: black;
font-size: 16px;
font-family: Poppins;
font-weight: 400;
word-wrap: break-word
}

.login-form span a {
color: #1F9BF5;
font-size: 16px;
font-family: Poppins;
font-weight: 400;
word-wrap: break-word
}

